<nav>
	<ul>
		<li><a title="主页" href="https://perichr.org" rel="me">Dev:P</a></li>
		<li>
			<a title="分类" href="/categories/">cates</a>
			<a title="标签" href="/tags/">tags</a>
			<a title="归档" href="/archives/">archs</a>
			<a title="订阅" href="/feed.xml">feed</a>
		</li>
		<li>
			<a title="@Github" href="https://github.com/perichr">gh</a>
			<a title="@SegmentFault" href="https://segmentfault.com/u/perichr">sf</a>
		</li>
	</ul>
</nav>
<footer>
	<span>&copy; <a href="https://about.me/perichr" rel="me">{{ site.author.name }}</a>;</span>
	<span><a href="https://creativecommons.org/licenses/by-sa/4.0/">BY-SA</a>;</span>
	<span>powered by <a href="http://pages.github.com" rel="external">Github Pages</a>.</span>
</footer>
